  <h2>Ingrese Producto</h2>
    <form action="/api/home/cargaId" method="POST">
        <!-- Campo nombre del producto -->
        <div>
            <label>id</label>
            <input type="text" name="id" required>
        </div>
        <!-- Campo nombre del producto -->
        <div>
            <label>Nombre</label>
            <input type="text" name="nombre" required>
        </div>

        <!-- Campo precio del producto -->
        <div class="form-group">
            <label>Precio</label>
            <input type="number" step="0.01" name="precio" required>
        </div>

        <!-- Campo url de la foto del producto -->
        <div class="form-group">
            <label>Foto URL</label>
            <input type="url" name="foto">
        </div>

        <!-- Campo descripcion -->
        <div class="form-group">
            <label>Descripcion</label>
            <input type="text" name="descripcion">
        </div>

        <!-- Botón de envío -->
        <button>Enviar</button>
    </form>
      <h2>buscar un producto</h2>
    <form action="/api/home/cargaId" method="POST">
        <!-- Campo nombre del producto -->
        <div>
            <label>Nombre</label>
            <input type="text" name="id" required>
        </div>

        <!-- Botón de envío -->
        <button>Enviar</button>
    </form>