<div class='container my-5'>
  <div class='jumbotron'>
    <h1>REGISTRAR</h1>
    <br />
    <form class='form' action='/api/registrar' method='post' role='form' autocomplete='off'>
      <div class='form-group'>
        <input id='nombre' name='nombre' placeholder='Ingrese su nombre' class='form-control' type='text' required />
      </div>
      <div class='form-group'>
        <input id='username' name='username' placeholder='Ingrese su email' class='form-control' type='email' required />
      </div>
      <div class='form-group'>
        <input id='password' name='password' placeholder='Ingrese su password' class='form-control' type='password' required />
      </div>

      <div class='form-group'>
        <input id='direccion' name='direccion' placeholder='Ingrese su direccion' class='form-control' type='text' required />
      </div>
            <div class='form-group'>
        <input id='edad' name='edad' placeholder='Ingrese su fecha de naciomiento' class='form-control' type='date' required />
      </div>
      <div class='form-group'>
        <input id='telefono' name='telefono' placeholder='Ingrese su telefono' class='form-control' type='tel' required />
      </div>
      <div class='form-group'>
        <input class='btn btn-success my-3' type='submit' value='Registrar' />
      </div>
    </form>
    <hr />
    <div class='text-left'>
      <button class='btn btn-success my-3' onclick="location.href = '/api/login'">Ir a Login</button>
    </div>
  </div>
</div>