
<div class="container mt-3">
    <div class="row justify-content-between alert alert-success">
        <div class="">
            <a href="/api/perfil" ><img src="../imagen/{{foto}}" class="rounded-circle" height="75" width="75"></a>
            <h1 class="col-4">{{nombre}}</h1>
        </div>
        <button class="col-4 btn btn-warning mt-2" method='post' onclick="location.href='/api/logout'">
        Desloguear
        </button>
    </div>
</div>
