<div class="container mt-3">
    <div class="row justify-content-between alert alert-success">
        <div class="">
            <a><img src="../imagen/{{foto}}" class="rounded-circle" height="75" width="75"></a>
            <h1 class="col-4">{{nombre}}</h1>
        </div>
        <button id="idCart" type="button" {{#if idCart}} value={{idCart}} {{/if}}class="btn btn-success" onclick="location.href='/api/home'">
        Inicio    
        </button>
    </div>
</div>